<!DOCTYPE html>
<html>
  <head>
    <title>Votes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>투표 페이지</h1>
    <% if (isCreator) { %>
      <h2>투표 작성자 입니다.</h2>
      <form method="post" action="">
        <input type="submit" value="delete" name="action">
      </form>
    <% } %>
    <% if (isCreator || isExpired) { %>
      <h2>최다 득표 사항: <%= maxVotedOption %></h3>
    <% } %>
    <% if (isExpired) { %>
      <h2>종료된 투표입니다.</h2>
    <% } else { %>
      <% if (isChecked) { %>
        <h2>이미 선택한 투표 입니다.</h2>
      <% } else  { %>
        <h2>투표해 주세요</h2>
      <% } %>
    <% } %>
    <a href="/">전체 투표 목록 돌아가기</a>
    <div>제목: <%= selectedVote.title %></div>
    <div>작성자: <%= selectedVote.createdBy %></div>
    <div class="expiredDate">만료시간: <%= format(selectedVote.expiredDate, "yyyy-MM-dd / HH:mm") %></div>
    <% let currentTime = new Date(); %>
    <form method="post">
      <div><%= isExpired ? "종료" : "진행중"%></div>
      <% selectedVote.options.forEach(function(option, index){ %>
        <div>
          <input
            class="voteCheckbox"
            type="radio"
            name="option[]"
            value="<%= index %>"
            required
            <% if(option.checked){ %>
              <%= "checked" %>
            <%}%>
            <% if(isChecked || isExpired){ %>
              onclick="return(false);"
            <%}%>
          >
          <label><%= option.option %></label>
        </div>
      <% }); %>
      <br>
      <input
        type="submit"
        value="save"
        name="action"
        <% if (isChecked || isExpired) { %>
          <%= "disabled" %>
        <% } %>
      >
    </form>
  </body>
</html>
