<!DOCTYPE html>
<html>
  <head>
    <title>Votes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <h1>투표 페이지</h1>
    <% if (isCreator) { %>
      <h2>투표 작성자 입니다.</h2>
      <form method="post" action="">
        <input type="submit" class="delete" value="delete" name="action">
      </form>
    <% } %>
    <% if (isCreator || isExpired) { %>
      <h2>최다 득표 사항: <%= maxVotedOption %></h3>
    <% } %>
    <% if (isExpired) { %>
      <h2>종료된 투표입니다.</h2>
    <% } else { %>
      <% if (isChecked) { %>
        <h2>이미 선택한 투표 입니다.</h2>
      <% } else  { %>
        <h2>투표해 주세요</h2>
      <% } %>
    <% } %>
    <%- include("showingVote", {vote: selectedVote}); %>
    <form method="post">
      <% selectedVote.options.forEach(function(option, index){ %>
        <div>
          <input
            class="voteCheckbox"
            type="radio"
            name="option[]"
            value="<%= index %>"
            required
            <% if(option.checked){ %>
              <%= "checked" %>
            <%}%>
            <% if(isChecked || isExpired){ %>
              onclick="return(false);"
            <%}%>
          >
          <label><%= option.option %></label>
        </div>
      <% }); %>
      <br>
      <input
        type="submit"
        value="save"
        name="action"
        <% if (isChecked || isExpired) { %>
          <%= "disabled" %>
        <% } %>
      >
    </form>
  </body>
</html>
